# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# frontend
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.vite


# Tauri build artifacts
*.app
*.msi
*.exe
*.deb
*.dmg

Tauri/src-tauri/.env
Tauri/src-tauri/.env.*


/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

# backend
/backend/.venv
/backend/.env
/backend/input.wav

# Tauri
Tauri/target/
Tauri/.cargo/
Tauri/src-tauri/target/
Tauri/src-tauri/Cargo.lock
Tauri/gen/schemas

Thumbs.db